## Formatting Dates for Shopping Mall Data

While cleaning this dataset in excel, I had trouble formatting all the dates properly, so I did it in pandas.

In [21]:
#import libraries
import pandas as pd

In [22]:
#read csv dataset into a dataframe called df
df=pd.read_csv('customer_shopping_data.csv')

In [23]:
df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,16/03/2021,Istinye Park
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

In [24]:
#converting date column which was in dayfirst format: (DD/MM/YYYY) to a more standard format: (YYYY-MM-DD)
df['invoice_date']=pd.to_datetime(df['invoice_date'], dayfirst=True)

In [25]:
df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,2022-08-05,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,2021-12-12,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,2021-11-09,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,2021-05-16,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,2021-10-24,Kanyon
...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,2022-09-21,Kanyon
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,2021-09-22,Forum Istanbul
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,2021-03-28,Metrocity
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,2021-03-16,Istinye Park
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,2022-10-15,Mall of Istanbul

In [26]:
#creating a year column by extracting the year from invoice data column
df['Year']=df['invoice_date'].dt.year

In [27]:
#looking at all year values in this dataset
df['Year'].unique()

array([2022, 2021, 2023], dtype=int32)

For this dataset only the years 2021 and 2022 have a complete data, as in there is data for all months of the year

In [28]:
#creating a dataframe that only has data for year 2021
data_2021=df.loc[df.Year==2021]

In [29]:
#looking at all unique month values in data for 2021
sorted(data_2021['invoice_date'].dt.month.unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [30]:
#creating a dataframe that only has data for year 2022
data_2022=df.loc[df.Year==2022]

In [31]:
#looking at all unique month values in data for 2022
sorted(data_2022['invoice_date'].dt.month.unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [32]:
#creating a dataframe that only has data for year 2023
data_2023=df.loc[df.Year==2023]

In [33]:
#looking at all unique month values in data for 2023
sorted(data_2023['invoice_date'].dt.month.unique())

[1, 2, 3]

Data for the year 2023 is incomplete as it only includes the first 3 months while 2021 and 2022 have all the months. If we were to do yearly comparisons on total sales there would be a huge dropoff from 2022 to 2023. It's probably better if I only keep the data for 2021 and 2022 and filter out data for 2023.

In [34]:
#filtering out data to only include the years 2021 and 2022
df=df.loc[(df.Year==2021) | (df.Year==2022)]

In [35]:
#dropping the Year column since we don't need it anymore
df=df.drop('Year',axis=1)

In [36]:
df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,2022-08-05,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,2021-12-12,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,2021-11-09,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,2021-05-16,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,2021-10-24,Kanyon
...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,2022-09-21,Kanyon
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,2021-09-22,Forum Istanbul
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,2021-03-28,Metrocity
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,2021-03-16,Istinye Park
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,2022-10-15,Mall of Istanbul

In [37]:
#saving dataframe to csv file
df.to_csv('customer_data.csv',index=False)